.App {
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  padding: 0 1.5rem 0 0.5rem;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 0.2rem;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(63, 62, 62); 
  border-radius: 0.2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(63, 62, 62); 
}

@media screen and (max-width: 480px) {
  .App {
    padding: 0.1rem 0;
  }
}

@media screen and (max-width: 786px) {
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}